.task {
    padding: 1.4em;
    margin-bottom: 20px;
    background-color: #f5f6f7;
    border-radius: 20px;
    border: 1px solid #ededed;
}

Input, Button {
    margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}